<!DOCTYPE html>
<html>
<head>
	<title>What fucking letter day is it</title>
</head>
<body>
	Today is {{article}} {{letter_day}} day.
	<br>
	{{rotation}}
	<br>
	{{^all_finished}}
		{{#during}}
			Currently {{period}}{{suffix}} period, finishing at {{finish}}
		{{/during}}
		{{^during}}
			{{period}}{{suffix}} period begins at {{start_time}}

			(in {{#hours}}{{time_until_hr}} hours and {{/hours}}{{time_until_min}} minutes) 
		{{/during}}
	{{/all_finished}}

	{{#all_finished}}
		All classes have finished for today.
	{{/all_finished}}
</body>
</html>