<script src='https://www.google.com/recaptcha/api.js'></script>

<form action="/report" method="POST">

<div class="g-recaptcha" data-sitekey="6LdFdEwUAAAAAAoTl23olpChpaZ4kvEaAePk-Ksu"></div>

  <input type="radio" name="letter" value="0"> A Day<br>
  <input type="radio" name="letter" value="1"> B Day<br>
  <input type="radio" name="letter" value="2"> C Day<br>
  <input type="radio" name="letter" value="3"> D Day<br>
  <input type="radio" name="letter" value="4"> E Day<br>
  <input type="radio" name="letter" value="5"> F Day<br>


<input type="submit" value="Submit">

</form>